:root {
  --baseFontSize: 18px;
  --fontFamilySans: Roboto, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamilyMono: "Roboto Mono", monospace;
  --textColor: rgba(14, 30, 37, 0.87);
  --borderColor: #e9ebeb;
  --accentColor: #00ad9f;
}

body {
  font-family: var(--fontFamilySans);
  font-size: var(--baseFontSize);
  line-height: 1.5;
  max-width: 40em;
  padding: 1em;
  margin: auto;
  background: #e8e8dd;
  color: var(--textColor);
  counter-reset: example;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-top: 0em;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 2em;
  margin: 5rem 0 2rem;
}

h2 {
  font-size: 1.375em;
  margin-top: 3em;
}

h3 {
  font-size: 1.325em;
}

p {
  margin: 1em 0 1.5em;
}

a {
  color: inherit;
  text-decoration: underline;
}

article {
  counter-increment: example;
}

article h2::before {
  content: counter(example) ". ";
}

ul {
  padding-left: 1.25em;
  list-style: disc outside;
}

ol {
  list-style: none;
  padding-left: 0;
  counter-reset: step;
}

ol li::before {
  counter-increment: step;
  content: counter(step) ". ";
  float: left;
  margin-right: 0.3em;
}

input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.5em;
  padding: 0 0.5em;
  height: 2.5em;
  line-height: 2.5;
  border: 2px solid var(--borderColor);
  border-radius: 4px;
  font-weight: bold;
}

button,
.button {
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 0;
  background: var(--accentColor);
  color: white;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  height: 2.5em;
  line-height: 2.5;
  padding: 0 1em;
  min-width: 10em;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transform: translateY(0);
  transition: all 0.15s ease;
}

button:focus,
button:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

form {
  max-width: 20em;
}

.rss-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-gap: 1.5rem;
  min-height: 50vh;
}

.rss-list::before,
.rss-list::after {
  content: "";
  display: block;
  align-self: center;
  justify-self: center;
}

.rss-list:empty::after {
  font-size: 3rem;
  width: 2em;
  height: 2em;
  /* background-color: black; */
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 50%, #fcff9e 100%);
  background-size: 200%;
  background-repeat: repeat-x;
  border-radius: 50%;
  overflow: hidden;

  animation-duration: 2s;
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  margin: 2em;
  box-shadow: 0 0 0 0.3em #e8e8dd, 0 0 0 0.4em #f5f3ea;
}

@keyframes loader {
  from {
    background-position-x: -100%;
  }
  to {
    background-position-x: 100%;
  }
}

.rss-list::before {
  font-weight: bold;
  padding: 5rem;
}

.rss-list:empty::before {
  content: "👋 Bonne journée";
  font-size: 2rem;
}

.rss-list::before {
  content: "meRRSi, monsieur!";
  font-size: 2rem;
}

.rss-link {
  padding: 2rem 2rem 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 1rem 2rem;
  background-color: #f5f3ea;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 1px 2.2px -20px rgba(0, 0, 0, 0.02),
    0 2.3px 5.3px -20px rgba(0, 0, 0, 0.028),
    0 4.4px 10px -20px rgba(0, 0, 0, 0.035),
    0 7.8px 17.9px -20px rgba(0, 0, 0, 0.042),
    0 14.6px 33.4px -20px rgba(0, 0, 0, 0.05),
    0 35px 80px -20px rgba(0, 0, 0, 0.07);
}

.rss-link__snippet {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606559;
}
